<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ./partials/head %>
</head>
<body class="container">

    <main>
        <h1><%= data.title%></h1>

		<p>settingsAlarmTrigger is now <%= data.settingsAlarmTrigger%></p>
        <form action="/settings/uploaden" method="post">
        	<label for="value">Value</label>
        	<input name="newVal" type="number">
	  		<button>Updaten</button>
        </form>
    </main>
    
</body>
</html>